# CityBikes

### Send a request to CityBikes for the city of your choice.

In [139]:
import requests # this will be used to call the APIs
import json
import pandas as pd

###### After going through the documentation I first went through the following URL
###### 'http://api.citybik.es/v2/networks which gave the base of the json file to find the network_id which acts as the endpoint to get the bike stations for a particular city and give us the details of each station in that city, which gives us the following code to get our response.

In [101]:
response = requests.get('http://api.citybik.es/v2/networks')
data = response.json()
data # to see the components of the json file

In [110]:
for i in range(0,len(data['networks'])): # iterating through the data to get city Paris 
               a= data['networks'][i]['location']
               if a['city']=="Paris":
                   print(data['networks'][i]) # to see the endpoint under href to request data for the city of Paris

{'company': ['Smovengo'], 'ebikes': True, 'gbfs_href': 'https://velib-metropole-opendata.smovengo.cloud/opendata/Velib_Metropole/gbfs.json', 'href': '/v2/networks/velib', 'id': 'velib', 'license': {'name': 'OPEN LICENCE 2.0', 'url': 'etalab.gouv.fr/wp-content/uploads/2018/11/open-licence.pdf'}, 'location': {'city': 'Paris', 'country': 'FR', 'latitude': 48.856614, 'longitude': 2.3522219}, 'name': "Vélib' Métropole"}

In [111]:
response = requests.get('http://api.citybik.es/v2/networks/velib')
response

### Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

###### alternate solution provided by Larry Bot 
###### ```data=response.json()
###### data['network']['stations'][0]
###### Assuming 'data' is your original data structure and it contains a list of stations under 'network' key.
###### data_required = ["empty_slots", "free_bikes", "latitude", "longitude", "timestamp"]
###### filtered_data = [] # This will be a list to store our new dictionaries

###### for station in data['network']['stations']:  # Each 'station' is a dictionary
######     new_dict = {}  # Create a new dictionary for the required key-value pairs
######     for key in data_required:
######         if key in station:  # Check if the key is in the current station dictionary
######             new_dict[key] = station[key]  # Add the key-value pair to the new dictionary
######     filtered_data.append(new_dict)  # Add the new dictionary to the filtered_data list

###### filtered_data' now contains the list of dictionaries with only the keys from 'data_required'

###### print (filtered_data)```

In [143]:
data=response.json()
data['network']['stations'][0] #to see the elements of each item in station

# empty list defined to save the values of the keys in a list format to create a data frame
empty_slot=[]
free_bikes=[]
latitude=[]
longitude=[]
timestamp=[]

for i in range(0,len(data['network']['stations'])): #looping to get the values from each element of the dictionary into a list format
    a=(data['network']['stations'][i]) # creating a variable'a' to make the following code easy to read and understand
    
    empty_slot.append(a['empty_slots'])
    free_bikes.append(a['free_bikes'])
    latitude.append(a['latitude'])
    longitude.append(a['longitude'])
    timestamp.append(a['timestamp'])
    
# print(empty_slot,free_bikes,latitude,longitude,timestamp)

In [146]:
# saving the raw json file
with open('city_bikes_data.json', 'w') as f:
    json.dump(data, f)

### Put your parsed results into a DataFrame.

In [142]:
city_data ={ 'empty_slots': empty_slot,
             'free_bikes': free_bikes,
             'latitude': latitude,
             'longitude':longitude,
             'timestamp':timestamp}
Paris_df= pd.DataFrame(city_data)
Paris_df

,empty_slots,free_bikes,latitude,longitude,timestamp
0,32,3,48.865983,2.275725,2023-12-04T04:49:10.102000Z
1,33,21,48.853756,2.339096,2023-12-04T04:49:09.860000Z
2,26,11,48.867872,2.364898,2023-12-04T04:49:07.405000Z
3,11,9,48.856452,2.334852,2023-12-04T04:49:07.921000Z
4,15,6,48.879296,2.337360,2023-12-04T04:49:08.016000Z
...,...,...,...,...,...
1452,5,25,48.939959,2.327957,2023-12-04T04:49:09.230000Z
1453,13,13,48.936094,2.343617,2023-12-04T04:49:08.317000Z
1454,1,28,48.832024,2.490271,2023-12-04T04:49:08.451000Z
1455,27,0,48.880598,2.376949,2023-12-04T04:49:09.518000Z
1456,3,36,48.836919,2.391678,2023-12-04T04:49:08.859000Z

In [144]:
Paris_df.to_csv('Paris_data.csv',index=False) # store my data frame as csv to be able to access it in the other notebooks