In [192]:
# imports
import pandas as pd
import os # use this to access your environment variables
import requests # this will be used to call the APIs
import json
FOURSQUARE_KEY = os.getenv('FOURSQUARE_API_KEY')

In [144]:
df=pd.read_csv('Paris_data.csv')
df=df.head(500) # limiting my data to 500 to reduce the API request and saving it as a new data frame for this notebook 
df

,name,empty_slots,free_bikes,latitude,longitude,timestamp
0,Benjamin Godard - Victor Hugo,34,1,48.865983,2.275725,2023-12-06T02:45:12.426000Z
1,André Mazet - Saint-André des Arts,29,26,48.853756,2.339096,2023-12-06T02:45:12.322000Z
2,Faubourg Du Temple - Republique,31,5,48.867872,2.364898,2023-12-06T02:45:09.480000Z
3,Beaux-Arts - Bonaparte,19,1,48.856452,2.334852,2023-12-06T02:45:09.991000Z
4,Toudouze - Clauzel,18,3,48.879296,2.337360,2023-12-06T02:45:10.107000Z
...,...,...,...,...,...,...
495,Mozart - Jasmin,54,6,48.852861,2.268484,2023-12-06T02:45:10.028000Z
496,Boulets - Faubourg Saint-Antoine,20,22,48.849259,2.391755,2023-12-06T02:45:11.226000Z
497,Haies - Réunion,15,7,48.853869,2.402426,2023-12-06T02:45:10.874000Z
498,Maine - Antoine Bourdelle,16,1,48.843085,2.320264,2023-12-06T02:45:12.399000Z
499,Kléber - Gouverneur Général Eboué,8,10,48.826886,2.272341,2023-12-06T02:45:11.243000Z

,name,empty_slots,free_bikes,latitude,longitude,timestamp
0,Benjamin Godard - Victor Hugo,34,1,48.865983,2.275725,2023-12-06T02:45:12.426000Z
1,André Mazet - Saint-André des Arts,29,26,48.853756,2.339096,2023-12-06T02:45:12.322000Z
2,Faubourg Du Temple - Republique,31,5,48.867872,2.364898,2023-12-06T02:45:09.480000Z
3,Beaux-Arts - Bonaparte,19,1,48.856452,2.334852,2023-12-06T02:45:09.991000Z
4,Toudouze - Clauzel,18,3,48.879296,2.337360,2023-12-06T02:45:10.107000Z
...,...,...,...,...,...,...
495,Mozart - Jasmin,54,6,48.852861,2.268484,2023-12-06T02:45:10.028000Z
496,Boulets - Faubourg Saint-Antoine,20,22,48.849259,2.391755,2023-12-06T02:45:11.226000Z
497,Haies - Réunion,15,7,48.853869,2.402426,2023-12-06T02:45:10.874000Z
498,Maine - Antoine Bourdelle,16,1,48.843085,2.320264,2023-12-06T02:45:12.399000Z
499,Kléber - Gouverneur Général Eboué,8,10,48.826886,2.272341,2023-12-06T02:45:11.243000Z

# Foursquare

### Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [129]:
def get_venues_fs(latitude, longitude):
    """
    Get venues from foursquare with coordinates.
    Args:
        latitude (float): latitude for query (must be combined with longitude)
        longitude (float): longitude for query (must be combined with latitude)
            
    Returns:
        response: response object from the requests library.
    """
    URL = 'https://api.foursquare.com/v3/places/search'
    # Prepare parameters for the API request
    params = {
        'll': f'{latitude},{longitude}',  # latitude and longitude
        'radius': 1000,  # radius around the location
        'categories':["13000,10000,12013,15008"]
        'limit':50 # limit the number of outputs in the categories
            }
    headers = {
        "Accept": "application/json",
        "Authorization": FOURSQUARE_KEY
                }

    response = requests.get(URL,params=params,headers=headers)
    return response

In [130]:
four_sq_data=[]

counter=0 # to count each iteration

max_count=20 # the max count before saving data to a file in the libarary

id=0 # for name of the file based on iteration

for index, row in df.iterrows():
    # Extract latitude and longitude from the current row
    lat, lon = row['latitude'], row['longitude']
    res = get_venues_fs(lat,lon)
    if res.status_code == 200:
        data = res.json()
        four_sq_data.append(data)# add data from each coordinate to a list
        if (counter%max_count==0) and (counter>0): # condition for interval of monitoring
            print(str(counter)+ " rows has been processed") # statement to see the progress of the data being pulled
            # saving the raw json file
            with open(f'four_sq_data_{id}.json', 'w') as f:
                json.dump(four_sq_data, f)
                id+=1 # incrementing the file number
    else:
        print(f"Error: {res.status_code}, {res.text}")
    # if index>=max_count: only for testing phase to stop the iterations
    #     break
    counter+=1
with open(f'four_sq_data_final.json', 'w') as f:
     json.dump(four_sq_data, f)

20 rows has been processed
40 rows has been processed
60 rows has been processed
80 rows has been processed
100 rows has been processed
120 rows has been processed
140 rows has been processed
160 rows has been processed
180 rows has been processed
200 rows has been processed
220 rows has been processed
240 rows has been processed
260 rows has been processed
280 rows has been processed
300 rows has been processed
320 rows has been processed
340 rows has been processed
360 rows has been processed
380 rows has been processed
400 rows has been processed
420 rows has been processed
440 rows has been processed
460 rows has been processed
480 rows has been processed

In [14]:
print(len(four_sq_data))

500

###### Below we are doing one final dump to get the remainder of data that does not match the conditional statement to get a json file with all 500 Data points

In [131]:
with open(f'four_sq_data_final.json', 'w') as f:
     json.dump(four_sq_data, f)

In [3]:
# to load a file from the saved json file so it does not need to be pulled from the API
with open('four_sq_data_final.json') as f:
       four_sq_data = json.load(f)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [147]:
# to make a lat_lon string column
location = []
name = []
latitude=[]
longitude=[]
for i in range(0,len(df)):
    lat=df['latitude'].iloc[i]
    lon=df['longitude'].iloc[i]
    latitude.append(lat)
    longitude.append(lon)
    

    a=four_sq_data[i]['results']
    
    for j in range (0,len(a)):
        # latitude.append(lat)
        # longitude.append(lon)
        loc=a[j]['location']
        address = loc.get('address') # check if address exists in the dictionary ,can take a string argument to give a replacement
        #location.append(a[j]['location']['address']) # this method did not work as there were some rows with missing information for address
        location.append(address)
        name.append(a[j]['name'])
                
print(len(latitude),len(location), len(name))

500 23898 23898

In [148]:
temp_df = pd.DataFrame({'latitude':latitude,
                        'longitude':longitude},dtype=str)
temp_df['lat_lon']=temp_df['latitude']+"_"+temp_df['longitude']
temp_df

,latitude,longitude,lat_lon
0,48.865983,2.275725,48.865983_2.275725
1,48.85375581057431,2.3390958085656166,48.85375581057431_2.3390958085656166
2,48.867872484749,2.3648982158072,48.867872484749_2.3648982158072
3,48.856451985395786,2.334851883351803,48.856451985395786_2.334851883351803
4,48.87929591733507,2.3373600840568547,48.87929591733507_2.3373600840568547
...,...,...,...
495,48.85286124871689,2.268483570651513,48.85286124871689_2.268483570651513
496,48.849259262115,2.3917546141943,48.849259262115_2.3917546141943
497,48.85386896766491,2.402426162238911,48.85386896766491_2.402426162238911
498,48.84308531746595,2.320263946784738,48.84308531746595_2.320263946784738
499,48.8268858430698,2.2723413258790965,48.8268858430698_2.2723413258790965

In [149]:
temp_df.to_csv('lat&lon.csv',index=False)

Put your parsed results into a DataFrame

In [160]:
for i in range(0,len(four_sq_data)):
    normalized_df=pd.json_normalize(four_sq_data[i]['results'])
    normalized_df['lat_lon']=temp_df['lat_lon'].iloc[i]
    if i==0:
        final_df=normalized_df.copy()
    else:
        final_df=pd.concat([final_df,normalized_df.copy()],axis=0,ignore_index=True) # add by rows top-down
        

final_df

,fsq_id,categories,chains,closed_bucket,distance,link,name,timezone,geocodes.main.latitude,geocodes.main.longitude,...,geocodes.roof.longitude,related_places.parent.fsq_id,related_places.parent.categories,related_places.parent.name,geocodes.drop_off.latitude,geocodes.drop_off.longitude,related_places.children,geocodes.front_door.latitude,geocodes.front_door.longitude,lat_lon
0,628f3fb0f6e50f2be3a6711b,"[{'id': 13035, 'name': 'Coffee Shop', 'short_n...",[],LikelyOpen,411,/v3/places/628f3fb0f6e50f2be3a6711b,Noir - Coffee Shop & Torréfacteur,Europe/Paris,48.867361,2.280951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.865983_2.275725
1,4b77f147f964a52097af2ee3,"[{'id': 13013, 'name': 'Hotel Bar', 'short_nam...",[],LikelyOpen,582,/v3/places/4b77f147f964a52097af2ee3,Saint-James Club,Europe/Paris,48.870401,2.279922,...,2.279922,4bf0e73e6f8aa5933c5fc23c,"[{'id': 19014, 'name': 'Hotel', 'short_name': ...",Saint James Paris,NaN,NaN,NaN,NaN,NaN,48.865983_2.275725
2,4bd2d23541b9ef3bdabcfee5,"[{'id': 13002, 'name': 'Bakery', 'short_name':...",[],LikelyOpen,487,/v3/places/4bd2d23541b9ef3bdabcfee5,Béchu,Europe/Paris,48.868176,2.281501,...,2.281501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.865983_2.275725
3,5bf2afc17e210b0025f5f0ed,"[{'id': 13065, 'name': 'Restaurant', 'short_na...",[],LikelyOpen,528,/v3/places/5bf2afc17e210b0025f5f0ed,Restaurant Brach,Europe/Paris,48.861246,2.275068,...,NaN,5bd97fb41fa763002cbcf8ba,"[{'id': 19014, 'name': 'Hotel', 'short_name': ...",Brach Paris,NaN,NaN,NaN,NaN,NaN,48.865983_2.275725
4,5ff3069fb907b733a9252835,"[{'id': 13000, 'name': 'Dining and Drinking', ...",[],LikelyOpen,687,/v3/places/5ff3069fb907b733a9252835,Joe & The Juice,Europe/Paris,48.869199,2.283842,...,2.283842,NaN,NaN,NaN,48.869055,2.283903,NaN,NaN,NaN,48.865983_2.275725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23893,4f21376de4b07fb248c9541b,"[{'id': 12022, 'name': 'College Classroom', 's...",[],VeryLikelyOpen,898,/v3/places/4f21376de4b07fb248c9541b,Studio Ecole de France,Europe/Paris,48.822548,2.262076,...,2.262076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.8268858430698_2.2723413258790965
23894,62d7d6c0120c49221d348cc0,"[{'id': 13152, 'name': 'Brasserie', 'short_nam...",[],VeryLikelyOpen,932,/v3/places/62d7d6c0120c49221d348cc0,Ginette,Europe/Paris,48.821581,2.262437,...,2.262437,NaN,NaN,NaN,48.821454,2.262466,NaN,NaN,NaN,48.8268858430698_2.2723413258790965
23895,4d6e3afe29586dcb7a44aff1,"[{'id': 13027, 'name': 'Bistro', 'short_name':...",[],LikelyOpen,967,/v3/places/4d6e3afe29586dcb7a44aff1,Shoka,Europe/Paris,48.829907,2.284413,...,2.284413,NaN,NaN,NaN,48.830047,2.284325,NaN,NaN,NaN,48.8268858430698_2.2723413258790965
23896,542fe29b498ed6ec052c8327,"[{'id': 13027, 'name': 'Bistro', 'short_name':...",[],VeryLikelyOpen,1181,/v3/places/542fe29b498ed6ec052c8327,Paris'Sy,Europe/Paris,48.818280,2.268354,...,2.268354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.8268858430698_2.2723413258790965
23897,43086ae745a441a74974d75a,"[{'id': 13148, 'name': 'French Restaurant', 's...",[],LikelyOpen,315,/v3/places/43086ae745a441a74974d75a,L'artisan Rôtisseur,NaN,48.824424,2.274476,...,2.274476,NaN,NaN,NaN,48.824551,2.274434,NaN,NaN,NaN,48.8268858430698_2.2723413258790965

In [158]:
count=0
if final_df['categories']==13000:
    count+=1
print(count)

0

In [184]:
final_df.groupby('lat_lon')['distance'].max().to_frame()

                                      distance
lat_lon
48.7672039733195_2.4144977331161503     381971
48.77093586667601_2.40340143442154       13547
48.781383825117_2.3723508417606            969
48.78448485079149_2.35908430069685        1002
48.78755365471565_2.306235730648041        992
...                                        ...
48.9155156_2.3814103                       994
48.91835629408464_2.3523425683379173       999
48.92034156960326_2.3438543826341625       996
48.92540695835961_2.3644426837563515       994
48.946504_2.2496396                        958

[500 rows x 1 columns]

In [92]:
four_sq_df.to_csv('four_sq_data.csv',index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [95]:
API_key = os.getenv('Yelp_API')

In [113]:
def get_venues_yelp(latitude,longitude):
    """
    Get venues from foursquare with coordinates.
    Args:
        latitude (float): latitude for query (must be combined with longitude)
        longitude (float): longitude for query (must be combined with latitude)
            
    Returns:
        response: response object from the requests library.
    """
    URL = 'https://api.yelp.com/v3/businesses/search'
    # Prepare parameters for the API request
    params = {
        'latitude':latitude,
        'longitude':longitude,
        'radius': 1000,
        'match_threshold':'default'
        # latitude and longitude
        #'city': "Paris"
            }
    headers = {
        "Accept": "application/json",
        "Authorization": "Bearer "+API_key #need Bearer as a part of the string
                }

    response = requests.get(URL,params=params,headers=headers)
    return response

In [ ]:
result= get_venues_yelp(48.865983,2.275725 )
file=result.json()
file['businesses']
#result.text[1]

In [ ]:
yelp_data=[]

In [ ]:
yelp_business_count=[]
max_count=100 # the max count before saving data to a file in the libarary
counter=0
id=0 # for name of the file based on iteration

for index, row in df.iterrows():
    # Extract latitude and longitude from the current row
    lat2, lon2 = row['latitude'], row['longitude']
    res_yelp = get_venues_yelp(lat2,lon2)
    if res_yelp.status_code == 200:
        data2 = res_yelp.json()
        yelp_business_count.append(len(data2['businesses'])) # to count the number of businesses in that set of coordinates
        yelp_data.append(data2)# add data from each coordinate to a list
        if (counter%max_count==0) and (counter>0): # condition for interval of monitoring
            print(str(counter)+ " rows has been processed") # statement to see the progress of the data being pulled
            # saving the raw json file
            with open(f'yelp_data_{id}.json', 'w') as f:
                json.dump(yelp_data, f)
                id+=1 # incrementing the file number
    else:
        print(f"Error: {res_yelp.status_code}, {res_yelp.text}")
    # if index>=max_count: only for testing phase to stop the iterations
    #     break
    counter+=1

In [201]:
with open('yelp_data_final.json', 'w') as f:
     json.dump(yelp_data, f)

In [203]:
# to load a file from the saved json file so it does not need to be pulled from the API
with open('yelp_data_final.json','r') as f:
       yelp_data = json.load(f)
        
yelp_data

[]

In [208]:
# Use the validated path as a raw string
file_path = r'C:\Users\shrut\Documents\light house labs\PROJECTS\Project 2\Statistical-Modeling---Python\notebooks\yelp_data_final.json'

# Alternatively, use double backslashes in the validated path
# file_path = 'C:\\Users\\shrut\\Documents\\light house labs\\PROJECTS\\Project 2\\Statistical-Modeling---Python\\notebooks\\yelp_data_final.json'

# Open and load the JSON data
with open(file_path, 'r') as f:
    yelp_data = json.load(f)

# Print some data to confirm it's loaded (e.g., top 5 records)
print(yelp_data[:5])

[]

In [205]:
print(os.getcwd())

C:\Users\shrut\Documents\light house labs\PROJECTS\Project 2\Statistical-Modeling---Python\notebooks

In [207]:
print(os.listdir(r'C:\Users\shrut\Documents\light house labs\PROJECTS\Project 2\Statistical-Modeling---Python\notebooks'))

['.gitkeep', '.ipynb_checkpoints', 'city_bikes.ipynb', 'city_bikes_data.json', 'four_sq_data.csv', 'four_sq_data_final.json', 'joining_data.ipynb', 'lat&lon.csv', 'model_building.ipynb', 'Paris_data.csv', 'yelp_data_0.json', 'yelp_data_1.json', 'yelp_data_2.json', 'yelp_data_3.json', 'yelp_data_final.json', 'yelp_foursquare_EDA.ipynb']

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating